In [1]:
# Installing packages to jupyter notebook environment

!pip install matplotlib
!pip install statsmodels
!pip install pandas
!pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /home/linkie/.local/lib/python3.10/site-packages (3.8.2)
Requirement already satisfied: numpy<2,>=1.21 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib) (1.23.4)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: pillow>=8 in /usr/lib/python3/dist-packages (from matplotlib) (9.0.1)
Requirement already satisfied: cycler>=0.10 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib) (21.3)
Requirement already satisfied: contourpy>=1.0.1 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib) (4.47.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: statsmodels in /home/linkie/.local/lib/python3.10/site-packages (0.14.1)
Requirement already satisfied: pandas!=2.1.0,>=1.0 in /home/linkie/.local/lib/python3.10/site-packages (from statsmodels) (1.5.1)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in /home/linkie/.local/lib/python3.10/site-packages (from statsmodels) (1.11.4)
Requirement already satisfied: patsy>=0.5.4 in /home/linkie/.local/lib/python3.10/site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in /home/linkie/.local/lib/python3.10/site-packages (from statsmodels) (21.3)
Requirement already satisfied: numpy<2,>=1.18 in /home/linkie/.local/lib/python3.10/site-packages (from statsmodels) (1.23.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/linkie/.local/lib/python3.10/site-packages (from packaging>=21.3->statsmodels) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /home/linkie/.local/lib/python3.10/site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/linkie/.local/lib/python3.10/site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from patsy>=0.5.4->statsmodels) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/linkie/.local/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: pytz>=2020.1 in /home/linkie/.local/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/linkie/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /home/linkie/.local/lib/python3.10/site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /home/linkie/.local/lib/python3.10/site-packages (0.13.1)
Requirement already satisfied: pandas>=1.2 in /home/linkie/.local/lib/python3.10/site-packages (from seaborn) (1.5.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/linkie/.local/lib/python3.10/site-packages (from seaborn) (1.23.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/linkie/.local/lib/python3.10/site-packages (from seaborn) (3.8.2)
Requirement already satisfied: packaging>=20.0 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (21.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: pillow>=8 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.0.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.47.2)
Requirement already satisfied: pyparsing>=2.3.1 in /home/linkie/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /home/linkie/.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [2]:
# Importing the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from statsmodels.tsa.arima.model import ARIMA

import seaborn as sns

In [3]:
df = pd.read_csv('/home/linkie/Desktop/Projects/craigslist_vehicles.csv/craigslist_vehicles.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    426880 non-null  int64
 1   id            426880 non-null  int64
 2   url           426880 non-null  object
 3   region        426880 non-null  object
 4   region_url    426880 non-null  object
 5   price         426880 non-null  int64
 6   year          425675 non-null  float64
 7   manufacturer  409234 non-null  object
 8   model         421603 non-null  object
 9   condition     252776 non-null  object
 10  cylinders     249202 non-null  object
 11  fuel          423867 non-null  object
 12  odometer      422480 non-null  float64
 13  title_status  418638 non-null  object
 14  transmission  424324 non-null  object
 15  VIN           265838 non-null  object
 16  drive         296313 non-null  object
 17  size          120519 non-null  object
 18  type          334022 non-null  object
 19  paint_color   296677 non-null  object
 20  image_url     426812 non-null  object
 21  description   426810 non-null  object
 22  county        0 non-null       float64
 23  state         426880 non-null  object
 24  lat           420331 non-null  float64
 25  long          420331 non-null  float64
 26  posting_date  426812 non-null  object
 27  removal_date  426812 non-null  object
dtypes: float64(5), int64(3), object(20)
memory usage: 91.2+ MB

In [5]:
df.head()

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,type,paint_color,image_url,description,county,state,lat,long,posting_date,removal_date
0,362773,7307679724,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4500,2002.0,bmw,x5,NaN,...,NaN,NaN,https://images.craigslist.org/00m0m_iba78h8ty9...,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",NaN,tx,32.401556,-99.884713,2021-04-16 00:00:00+00:00,2021-05-02 00:00:00+00:00
1,362712,7311833696,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4500,2002.0,bmw,x5,NaN,...,NaN,NaN,https://images.craigslist.org/00m0m_iba78h8ty9...,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",NaN,tx,32.401556,-99.884713,2021-04-24 00:00:00+00:00,2021-04-28 00:00:00+00:00
2,362722,7311441996,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4900,2006.0,toyota,camry,excellent,...,sedan,silver,https://images.craigslist.org/00808_5FkOw2aGjA...,2006 TOYOTA CAMRY LE Sedan Ready To Upgrade ...,NaN,tx,32.453848,-99.787900,2021-04-23 00:00:00+00:00,2021-05-25 00:00:00+00:00
3,362771,7307680715,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,6500,2008.0,ford,expedition,NaN,...,NaN,NaN,https://images.craigslist.org/00M0M_i9CoFvVq8o...,$6500.00 2008 Ford Expedition 8 cylinder 5.4L...,NaN,tx,32.401556,-99.884713,2021-04-16 00:00:00+00:00,2021-04-26 00:00:00+00:00
4,362710,7311834578,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,6500,2008.0,ford,expedition,NaN,...,NaN,NaN,https://images.craigslist.org/00M0M_i9CoFvVq8o...,$6500.00 2008 Ford Expedition 8 cylinder 5.4L...,NaN,tx,32.401556,-99.884713,2021-04-24 00:00:00+00:00,2021-05-12 00:00:00+00:00

In [6]:
df.dtypes

Unnamed: 0        int64
id                int64
url              object
region           object
region_url       object
price             int64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
VIN              object
drive            object
size             object
type             object
paint_color      object
image_url        object
description      object
county          float64
state            object
lat             float64
long            float64
posting_date     object
removal_date     object
dtype: object

In [7]:
df.shape

(426880, 28)

In [8]:
df.isna()

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,type,paint_color,image_url,description,county,state,lat,long,posting_date,removal_date
0,False,False,False,False,False,False,False,False,False,True,...,True,True,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,...,True,True,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,True,True,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,...,True,True,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
426876,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
426877,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
426878,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,True,False,False,False,False,False
426879,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [9]:
new_df = df.drop(columns=['url', 'region_url', 'image_url', 'Unnamed: 0', 'lat', 'long', 'county'])
new_df.head()

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,...,transmission,VIN,drive,size,type,paint_color,description,state,posting_date,removal_date
0,7307679724,abilene,4500,2002.0,bmw,x5,NaN,NaN,gas,184000.0,...,automatic,NaN,NaN,NaN,NaN,NaN,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",tx,2021-04-16 00:00:00+00:00,2021-05-02 00:00:00+00:00
1,7311833696,abilene,4500,2002.0,bmw,x5,NaN,NaN,gas,184000.0,...,automatic,NaN,NaN,NaN,NaN,NaN,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",tx,2021-04-24 00:00:00+00:00,2021-04-28 00:00:00+00:00
2,7311441996,abilene,4900,2006.0,toyota,camry,excellent,4 cylinders,gas,184930.0,...,automatic,NaN,fwd,NaN,sedan,silver,2006 TOYOTA CAMRY LE Sedan Ready To Upgrade ...,tx,2021-04-23 00:00:00+00:00,2021-05-25 00:00:00+00:00
3,7307680715,abilene,6500,2008.0,ford,expedition,NaN,NaN,gas,206000.0,...,automatic,NaN,NaN,NaN,NaN,NaN,$6500.00 2008 Ford Expedition 8 cylinder 5.4L...,tx,2021-04-16 00:00:00+00:00,2021-04-26 00:00:00+00:00
4,7311834578,abilene,6500,2008.0,ford,expedition,NaN,NaN,gas,206000.0,...,automatic,NaN,NaN,NaN,NaN,NaN,$6500.00 2008 Ford Expedition 8 cylinder 5.4L...,tx,2021-04-24 00:00:00+00:00,2021-05-12 00:00:00+00:00

In [10]:
numerical_columns = new_df.select_dtypes(include=['number'])
categorical_columns = new_df.select_dtypes(exclude=['number'])

In [11]:
new_df[numerical_columns.columns] = new_df[numerical_columns.columns].fillna(new_df[numerical_columns.columns].median())

In [12]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          426880 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      426880 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  description   426810 non-null  object
 18  state         426880 non-null  object
 19  posting_date  426812 non-null  object
 20  removal_date  426812 non-null  object
dtypes: float64(2), int64(2), object(17)
memory usage: 68.4+ MB

In [13]:
new_df[categorical_columns.columns] = new_df[categorical_columns.columns].fillna(new_df[categorical_columns.columns].mode().iloc[0])

In [14]:
new_df['posting_date'] = pd.to_datetime(new_df['posting_date'])

In [15]:
new_df.set_index('posting_date', inplace=True)

In [16]:
# Summary Statistics

new_df.describe()

                 id         price           year      odometer
count  4.268800e+05  4.268800e+05  426880.000000  4.268800e+05
mean   7.311487e+09  7.519903e+04    2011.240173  9.791454e+04
std    4.473170e+06  1.218228e+07       9.439234  2.127801e+05
min    7.207408e+09  0.000000e+00    1900.000000  0.000000e+00
25%    7.308143e+09  5.900000e+03    2008.000000  3.813000e+04
50%    7.312621e+09  1.395000e+04    2013.000000  8.554800e+04
75%    7.315254e+09  2.648575e+04    2017.000000  1.330000e+05
max    7.317101e+09  3.736929e+09    2022.000000  1.000000e+07

In [17]:
new_df.shape

(426880, 20)

In [ ]:
# Data Distribution

plt.figure(figsize=(12, 6))
sns.histplot(new_df['price'], kde=True)
plt.title('Price Distribution')
plt.xlabel('Price')

# Set custom x-axis limits
plt.xlim(0, 50000)
# Set custom y-axis limits
plt.ylim(0, 1000)
plt.show()

In [ ]:
# Temporal Analysis:

In [ ]:
# Group by region and calculate the mean price

In [ ]:
region_grouped = new_df.groupby('region')['price'].mean().sort_values(ascending=False)
region_grouped.plot(kind='bar', figsize=(12, 6))
plt.title('Mean Price by Region')
plt.xlabel('Region')
plt.ylabel('Mean Price')

In [ ]:
# Group by vehicle type and calculate the median price

vehicle_type_grouped = new_df.groupby('type')['price'].median().sort_values(ascending=False)
vehicle_type_grouped.plot(kind='bar', figsize=(12, 6))
plt.title('Median Price by Vehicle Type')
plt.xlabel('Vehicle Type')
plt.ylabel('Median Price')

In [ ]:
# Correlation Analysis:

correlation_matrix = new_df.corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')

In [ ]:
# Fit an ARIMA model

# Fit an ARIMA model
model = ARIMA(new_df['price'], order=(5, 1, 0))
model_fit = model.fit()

# Forecast with the ARIMA model
forecast = model_fit.forecast(steps=10)

In [ ]:
# Build the time-series chart.

plt.figure(figsize=(12, 6))
plt.plot(clean_data.index, new_df['price'], label='Price', color='blue')
plt.title('Vehicle Prices Over Time')
plt.xlabel('Posting Date')
plt.ylabel('Price')
plt.grid(True)
plt.legend()
plt.show()